@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
* {
	list-style-type: none;

}

body {
	background: #efbbbb;
	background: -webkit-linear-gradient(to right, #d64a4a, #e62f2f);
	background: linear-gradient(to right, #d64a4a, #e62f2f);
  	color: black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}

.title {
	letter-spacing: 3px;
	position: static;
	left: 13%;
}

.center {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border-radius: 20px;
	box-shadow: 0 3px 15px #64646480;
	margin: 10px;
	padding: 20px;
	text-align: center;
}

.pokemon .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	text-align: center;
}

.pokemon .img-container img {
	margin-top: 20px;
	max-width: 90%;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .number {
	background-color: #0000001a;
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

.pokemon-logo {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.search-input, .search-button{
	background-color: #FFDE00;
	border-radius: 10px;
	height: 40px;
	color: #3B4CCA;
	border: 0;
	margin-right: 10px;
	box-shadow: 0 3px 15px #64646480;
	position: relative;
	margin-top: 20px;
}

.search-button{
	background-color: #FFDE00;
	border-radius: 10px;
	height: 40px;
	color: #3B4CCA;
	border: 0;
	box-shadow: 0 3px 15px #64646480;
	position: relative;
	margin-top: 20px;
}

main {
	background-color: #f1eded;
  	padding: 40px;
	margin: 0 auto;
	margin-top: 10px;
 	width: 75%;
  	height: 100%;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 10px 10px 30px black;
	margin-bottom: 40px;
}

footer {
	background-color: white;
	box-shadow: 20px 20px 30px black;
	color: rgb(54, 52, 52);
	
	width: 100%;
	height: 8rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 30px;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

ul li img {
	width: 30px;
	height: 30px;
}

ul {
	display: flex;
}

li{
	display: flex;
	margin-right: 30px;
	align-items: center;
}

a {
	padding: 10px;
	text-decoration: none;
	font-family: 'lato';
	color: rgb(54, 52, 52);
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

.h2 {
	width: 100%;
	padding-top: 10px;
}
